@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index">
        <label>Nhập họ tên:</label>
        <input type=" text"name="FullName">
        <Label>Nhập địa chỉ</Label>
        <input type="Text"name="Address">
        <input type="submit" value="Gửi dữ liệu">
</form>